.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: inherit;
}
.reveal .slides section .fragment {
  color: #797979; 
}
.reveal .slides section .fragment.current-fragment {
  color: black; 
}
