/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    font-size: 100%;
}
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.75rem; }

p {
    margin-top: 0;
}
pre, blockquote, dl, figure, table, p, ul, ol, form {
    margin-bottom: 1.25rem;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
    display: block;
    width: 100%;
    height: 4rem;
    background: #fff;
    z-index: 99;
    margin-top: 0px;
    border-bottom: 1px solid #eee;
}

a {
    color: #4466c5;
    text-decoration: none;
}

a:hover{
    color: #4466c5;
    text-decoration: underline;
}


.nav-list {
	list-style: none;
}

.nav-list li {
	float:left;
	position: relative;
}

.nav-list a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 4rem;
    color: #222;
}

li {
    margin-bottom: 0;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.post {

}

.post .post-title {
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

.post .post-metadata {
    color: #AAA;
}

.post .post-header{
    margin-bottom: 1.5rem;
}

.footer {
    border-top: 1px solid black;
    opacity: 0.25;
}

blockquote{
    margin: 0;
    padding: 0 15px;
    color: #777;
    border-left: 3px solid #ddd;
}
